extends ../layout.pug

block title
	| webri.ng | Reset Password

block content
	h1 Forgotten Your Password?
	form#reset-password-form
		p 
			| Please enter your login email in the form below to begin the process of resetting
			| your password.
		div.form-field
			label(for='email') Email: 
			input#email(type='email' name='email' required='')
		div.form-buttons
			button(type='button', onclick="forgotPassword()") Submit
		div#reset-password-error-message.error-message
	div(style='display: none')#reset-password-message
		p 
			| If you entered your correct login email address, you will shortly receive an email
			| with instructions for resetting your password.
		p 
			| If you have further difficulties, please 
			a(href='/contact') contact support
			| .
		p 
			| Please click 
			a(href='/user/login') here
			|  to return to the login screen.
