extends ../layout.pug

block title
	| webri.ng | Reset Password

block content
	h1 Forgotten Your Password?
	form(action='/user/reset-password/form', method='post')#reset-password-form
		p 
			| Please enter your login email in the form below to begin the process of resetting
			| your password.
		div.form-field
			label(for='email') Email: 
			input#email(type='email' name='email' required='')
		div.form-buttons
			button(type='submit') Submit
		div#error-message.error-message
