extends ../layout.pug

block title
	| webri.ng | Reset Password

block content
	h1 Forgotten Your Password?
	p 
		| If you entered your correct login email address, you will shortly receive an email
		| with instructions for resetting your password.
	p 
		| If you have further difficulties, please 
		a(href='/contact') contact support
		| .
	p 
		| Please click 
		a(href='/user/login') here
		|  to return to the login screen.
