extends ../layout.pug

block title
	| webri.ng | Update Password

block content
	h1 Update Password
	form#update-password-form
		div.form-field
			label(for='currentPassword') Current Password: 
			input#password(type='password' name='currentPassword' minlength=2 maxlength=128 required='')
		div.form-field
		div.form-field
			label(for='newPassword') New Password: 
			input#password(type='password' name='newPassword' minlength=2 maxlength=128 required='')
		div.form-field
			label(for='confirmPassword') Confirm Password: 
			input#password(type='password' name='confirmPassword' minlength=2 maxlength=128 required='')
		div.form-buttons
			button(type='button', onclick="updatePassword()") Update Password
		div#update-password-error-message.error-message
