include ../include/page
h2 Profile
div.content-block
	| Hello #{user.username}, welcome back!
	div.user-profile-controls
		a(href='/user/update') Update Your Details
		a(href='/user/update-password') Update Your Password
h2 Your Webrings
	if totalPages > 1
		|  (Page #{currentPage})

div.content-block
	if webrings.length > 0 
		include ../include/webring_list
	else
		| You haven't created any webrings yet. Feel free to create one!

h2 Test
div.content-block
	button(type='button', onclick="insertRandomWebrings()") Insert Test Webrings
include ../include/footer
