include ../include/page.pug
div.body
	h2 Profile
	| Hello #{user.username}, welcome back!

	h3 Webrings
	include ../include/webring_list.pug
	div
		button(type='button', onclick="insertRandomWebrings()") Insert Test Webrings
