include ../include/page.pug
h2 Register
div.body
	form#register-form
		div
			label(for='username') Username: 
			input#username(type='text' name='username' minlength=2 maxlength=80 required='')
		div
			label(for='email') Email: 
			input#email(type='email' name='email' required='')
		div
			label(for='name') Password: 
			input#password(type='password' name='password' minlength=2 maxlength=128 required='')
		button(type='button', onclick="register()")
			| Register
		div#register-error-message.error-message
