h1 Hi #{username},
p 
	| Your password for 
	a(href='https://webri.ng') webri.ng 
	| has been reset.
p
	| Your new temporary password is '
	code #{temporaryPassword}
	| '
p 
	| You can 
	a(href='https://webri.ng/user/login') log in 
	|  with this new temporary password immediately.
	| This password will expire within a day, so you will need to change it immediately when you log in.
p
	| If you did not request a password reset, please 
	a(href='https://webri.ng/contact') contact us
	|  immeditately!
