include ../include/page.pug
div.body
	h2 #{webring.name}
	if isUserModerator
		div.webring-controls
			a(href='/webring/' + webring.url + '/add') Add New Site
			if isUserOwner
				a(href='/webring/' + webring.url + '/delete') Delete Webring
	div.detail-descripion #{webring.description}
include ../include/footer
