header
	a.title(href='/')
		h1 webri.ng
	nav
		if user
			a(href='/webring/new') New Webring
		a(href='/faq') FAQ
		a(href='/contact') Contact
		if user
			a(href='/user') User Profile
			a(href='/user/logout') Logout
		else 
			a(href='/user/login') Login
			a(href='/user/register') Register
		a(href='/static/updates.rss') Updates RSS
