extends layout.pug

block title
	| webri.ng | Privacy Policy

block content
	h1 Privacy Policy
	p 
		| Webri.ng cares deeply about the privacy and security of its users. 
		| The only personal information we collect from you is your email address, 
		| so we can make sure you never get locked out of your account, 
		| and can verify your identity in case you email us for support.

	p 
		| We will never ever share your information with anyone, 
		| and will only ever use it to operate the platform, 
		| or contact you privately in case we need your attention.

	p
		| If you have any concerns about the use of data on the webri.ng platform, 
		| please 
		a(href='/contact') get in touch
		| .
