extends layout.pug

block title
	| webri.ng | Terms of Service

block content
	h1 Terms of Service

	ul#terms-of-service
		li 
			| All content created on the platform must comply with US law. 
			| Whether we like it or not, our servers are located in the United States, 
			| which makes us subject to its laws. 
			| Keep in mind, however, that while all content we host must be legal in the US, 
			| something being legal in the US doesn't mean we're required to host it here.

		li 
			| You're not allowed to use the webri.ng platform to bully or harass anyone. 
			| This includes public figures.

		li 
			| We don't specifically prohibit content of a sexual nature, 
			| provided that it's legal in the United States. 
			| However, if your webring contains sexual content, 
			| we kindly request that you set it to 'private' so it doesn't appear in the main index.

		li 
			p 
				| We don't want to prohibit political content. 
				| However, due to its potentially divisive nature, 
				| we kindly request that webrings dedicated to political content be set to 'private'. 
			p 
				|We understand that many technical subjects have political dimensions 
				| (e.g. fediverse, small-web, open-source software, etc.), and that's totally fine. 
				| We just want to avoid partisan political content that ignites strong feelings, 
				| such as Democrats vs Republicans.
				| We want webri.ng to be a space where everyone feels welcome.

		li
			| If your webring contains content that is controversial but otherwise legal, 
			| we kindly request that it be set to 'private'. 
			| We define 'controversial' as content that is divisive, 
			| likely to cause offence or strong reactions, 
			| or otherwise likely to damage the reputation of the platform.

		li 
			| If you can't comply with these very reasonable terms, 
			| we reserve the right to delete any content that breaches the rules, 
			| or to ban users who can't behave. 
			| Webri.ng is a labour of love, 
			| and we'd prefer not to spend our time policing users. 
		
	p 
		| If you see something that you think violates our terms of service, 
		| please 
		a(href='/contact') let us know
		| !
