html {
  background-color: #484848;
  font-size: 10pt;
}

body {
  background-color: #828282;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  width: 800px;
  padding: 0.8rem;
}

body > header {
  text-align: center;
  border: 1px solid black;
  background-color: #606060;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
}

body > header a.title {
  color: inherit;
}

body > header a.title h1 {
  font-family: Arial, "Liberation sans", sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.25rem;
  letter-spacing: 0.25rem;
}

body > header a.title:hover {
  color: #222;
  text-decoration: underline;
}

body > header nav a {
  color: inherit;
}

body > header nav a:hover {
  color: #222;
}

body > header nav a:not(:last-child) {
  margin-right: 0.5rem;
}

body > header nav a:not(:last-child):after {
  content: '|';
  margin-left: 0.5rem;
}

body h2 {
  background-color: #606060;
  border: 1px solid black;
  margin: 0;
  padding: 0.4rem;
  font-size: 1rem;
}

body h2:first-child {
  border-top: 0;
}

body .content-block {
  padding: 0.4rem;
  border: 1px solid black;
  border-top: none;
  margin-bottom: 0.4rem;
}

.webring-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.webring-list li {
  margin-bottom: 0.5rem;
}

.webring-list li a.name {
  color: black;
  font-weight: bold;
}

.webring-list li a.name:hover {
  color: #222;
  text-decoration: underline;
}

.webring-list li .description {
  color: #111;
  font-size: 0.8rem;
}

.webring-list-navigation {
  margin-top: 1rem;
}

.webring-list-navigation a {
  color: inherit;
}

.webring-list-navigation a:hover {
  color: #222;
}

.webring-list-navigation a:not(:last-child) {
  margin-right: 0.5rem;
}

.webring-list-navigation a:not(:last-child):after {
  content: '|';
  margin-left: 0.5rem;
}

.controls {
  margin-top: 1rem;
}

.controls a {
  color: inherit;
  display: block;
}

form .error-message {
  color: #640606;
}

form .form-field {
  margin-bottom: 1rem;
}

form .form-field .description {
  font-size: 0.8rem;
}

form .form-field label {
  display: block;
  font-weight: bold;
}

form .form-field textarea {
  resize: none;
  width: 100%;
}

form .form-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
  border: 1px solid black;
  background-color: #606060;
  margin-top: 0.4rem;
  font-size: 0.8rem;
  text-align: center;
}

#webring-detail-site-list {
  margin: 0;
}

#webring-detail-site-list li {
  margin-bottom: 0.6rem;
}

#webring-detail-site-list li .name {
  display: block;
  font-weight: bold;
}

#webring-detail-site-list li .url {
  color: inherit;
}

#webring-detail-site-list li .url:hover {
  color: #222;
}

#webring-detail-site-list li .site-controls {
  margin-top: 0.2rem;
  display: block;
}

#webring-detail-site-list li .site-controls button {
  margin-right: 0.2rem;
}

textarea#example-code {
  margin-top: 1rem;
  resize: none;
  width: 100%;
}
