extends layout.pug

block title
	| webri.ng | Contact

block content
	h2 Contact
	div.content-block
		p
			| If you need to contact us for any reason, feel free to send us an email at 
			a(href="mailto:admin@webri.ng") admin@webri.ng
