include include/page
h2 Welcome to webri.ng
div.content-block
	a(href='#customise')
		h3 Can I customise my webring?
	p
		| The idea behind this service is to provide the functionality a user would need to 
		| run their own webring. Webri.ng doesn't intend to offer a fully-featured hosting
		| service. The ideal use case is the owner of a webring sharing the links provided 
		| to allow users to navigate their webring.
	p
		| This can be used in a variety of ways, such as embedding the links in a 'badge' 
		| format that the members of a webring can place on their pages. Or perhaps embedding 
		| the links in images. In many cases, only using the 'random' link will suffice.
	p
		| Users are always free to set up DNS records so that they can embed the links to 
		| their webring into their site. Such as redirecting their own URLs to the 'next', 'previous',
		| and 'random' links associated with their site. These URLs are permanent, and do not change.
	p
		| If you need assistance with using your webring, feel free to 
		a(href='/contact') reach out.
	a(href='#source')
		h3 Is the source code to this service available?
	p
		| Yes it is! The source code for this site can be viewed 
		a(href='https://github.com/webri-ng/webri.ng') here.
	a(href='#selfhost')
		h3 Why not provide users software for self-hosting?
	p 
		| This is a good question! The thought did occur to me to create software that users 
		| could use to self-host their own webring instance. This would totally be in alignment 
		| with this website's aims of supporting the 'small web'. 
	p 
		| In the end I decided to proceed with creating the service you see here today. 
		| If for no other reason than to take advantage of the great URL! As a compromise, the 
		| source code for this site is fully available. If someone wished to fork this site's 
		| software, or use it to create their own webring software, that is totally fine! 
		| Provided they give proper credit of course.

include include/footer

