extends layout.pug

block title
	| webri.ng | FAQ

block content
	h2 FAQ
	div.content-block
		a(href='#what')
			h3 What is this site?
		p
			| Webri.ng is a platform where people can host 
			a(href='https://en.wikipedia.org/wiki/Webring') webrings
			|  without the need to manage their own infrastructure.
		p
			| This platform was created as a tribute to the internet's early days, which we believe was
			| a cultural renaissance, where an emergent culture of creativity blossomed.
		p
			| We hope that this platform empowers people to be creative, and recapture the
			| feelings of creative freedom, and freedom of expression that defined the internet of yesterday.

		a(href='#customise')
			h3 Can I customise my webring?
		p
			| The idea behind this service is to provide the functionality a user would need to 
			| run their own webring. Webri.ng doesn't intend to offer a fully-featured hosting
			| service. The ideal use case is the owner of a webring sharing the links provided 
			| to allow users to navigate their webring.
		p
			| This can be used in a variety of ways, such as embedding the links in a 'badge' 
			| format that the members of a webring can place on their pages. Or perhaps embedding 
			| the links in images. In many cases, only using the 'random' link will suffice.
		p
			| Users are always free to set up DNS records so that they can embed the links to 
			| their webring into their site. Such as redirecting their own URLs to the 'next', 'previous',
			| and 'random' links associated with their site. These URLs are permanent, and do not change.
		p
			| If you need assistance with using your webring, feel free to 
			a(href='/contact') reach out
			| .

		a(href='#content')
			h3 What kind of content is allowed on this service?
		p
			| The owners of webri.ng hold strong views about the internet being a place where 
			| people from all walks of life, with different backgrounds, religions, ethnicities, 
			| sexual orientations, and political beliefs can safely, and confidently 
			| express themselves.
		p
			| So far we have not had to specify any concrete rules about what kind of content
			| people are allowed to link to on this service, and we would like to keep it that way.
			| Having said this, we reserve the right to remove any content that we think 
			| is offensive to the general public, or brings the service into disrepute.
		p
			| While we acknowledge that the decentralised nature of the internet does 
			| create a 'grey area' with regards to the specific legality of content,
			| this site is hosted in the United States of America, and as such, we are 
			| bound to comply with US law.
			| We are also bound to comply with the laws of the countries we reside in.
		p
			| We do not specifically prohibit content of a sexual nature, provided that
			| this content would be legal in the United States. However, if you do wish 
			| to create webrings with links to sexual content, we kindly request 
			| that you set these webrings to 'private', so they do not appear in the main 
			| index.
		p
			| We do not <i>want</i> to prohibit political content, however due to its 
			| potentially divisive nature we kindly request that webrings
			| dedicated to political issues are created as 'private'.
		p
			| If you have any questions about our content policies, please 
			a(href='/contact') get in touch
			| .

		a(href='#source')
			h3 Is the source code to this service available?
		p
			| Yes it is! The source code for this site can be viewed 
			a(href='https://github.com/webri-ng/webri.ng') here
			| .

		a(href='#selfhost')
			h3 Why not provide users software for self-hosting?
		p 
			| This is a good question! The thought did occur to me to create software that users 
			| could use to self-host their own webring instance. This would totally be in alignment 
			| with this website's aims of supporting the 'small web'. 
		p 
			| In the end I decided to proceed with creating the service you see here today. 
			| If for no other reason than to take advantage of the great URL! As a compromise, the 
			| source code for this site is fully available. If someone wished to fork this site's 
			| software, or use it to create their own webring software, that is totally fine! 
			| Provided they give proper credit of course.
