include include/page
h2 Welcome to webri.ng
div.content-block
	a(href='#customise')
		h3 Can I customise my webring?
	p
		| The idea behind this service is to provide the functionality a user would need to 
		| run their own webring. Webri.ng doesn't intend to offer a fully-featured hosting
		| service. The ideal use case is the owner of a webring sharing the links provided 
		| to allow users to navigate their webring.
	p
		| This can be used in a variety of ways, such as embedding the links in a 'badge' 
		| format that the members of a webring can place on their pages. Or perhaps embedding 
		| the links in images. In many cases, only using the 'random' link will suffice.
	p
		| Users are always free to set up DNS records so that they can embed the links to 
		| their webring into their site. Such as redir
	a(href='#selfhost')
		h3 Why not provide users software for self-hosting?
	| bla blad jbfjsbfsj

include include/footer

