extends layout.pug

block content
	h2 Welcome to webri.ng
	div.content-block
		p 
			| This platform gives creators the ability to create, and manage their own webrings, 
			| without needing to worry about the difficulties of developing the platform, or the 
			| complexities of hosting their own infrastructure.
		p
			| We provide a simple control panel that webring administrators can use to add sites 
			| to their webring, and provide useful, short links that they can give to users to 
			| navigate their webring. 
		p 
			| We support the small-web, and hope to provide creators a fantastic platform for 
			| promoting their creations, and the creativity of others. We provide a fully 
			| managed, and forever totally free service.
	h2 Recently Updated
	div.content-block
		if webrings.length > 0 
			include include/webringList
		else
			| There aren't any webrings here yet. Feel free to create one!
	h2 News
	div.content-block
		if newsUpdates.length > 0 
			include include/newsUpdateList
		else
			| No news yet.
