extends layout.pug

block content
	h1 Welcome to webri.ng
	p
		| This platform gives creators the ability to create, and manage their own webrings, 
		| without needing to worry about the difficulties of developing the platform, or the 
		| complexities of hosting their own infrastructure.
	p
		| We provide a simple control panel that webring administrators can use to add sites 
		| to their webring, and provide useful, short links that they can give to users to 
		| navigate their webring. 
	p 
		| We support the small-web, and hope to provide creators a fantastic platform for 
		| promoting their creations, and the creativity of others. We provide a fully 
		| managed, and forever totally free service.

	h2 Recently Updated
	if webrings.length > 0 
		include include/webringList
	else
		p There aren't any webrings here yet. Feel free to create one!

	h2 News
	if newsUpdates.length > 0 
		include include/newsUpdateList
	else
		p No news yet.
