$hue: 140;

$background-color-page: hsl($hue, 5%, 40%);
$background-color-body: hsl($hue, 10%, 80%);
$background-color-header: hsl($hue, 8%, 60%);
$background-color-button: hsl($hue, 8%, 65%);
$background-color-button-hover: hsl($hue, 8%, 72%);

$global-element-padding: 0.4rem;
$global-element-margin: 0.4rem;
$global-element-border: 1px solid hsl($hue, 8%, 25%);

$font-color: hsl($hue, 8%, 15%);
$font-color-lighter: hsl($hue, 8%, 18%);
$font-color-hover: hsl($hue, 8%, 10%);


html {
	background-color: $background-color-page;
	font-size: 10pt;
	color: $font-color;
}

a {
	color: inherit;

	&:hover {
		color: $font-color-hover;
	}
}


body {
	background-color: $background-color-body;
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0 auto;
	max-width: 800px;
	padding: 0.8rem;

	& > header {
		text-align: center;
		border: $global-element-border;
		background-color: $background-color-header;
		padding: $global-element-padding;
		margin-bottom: $global-element-margin;

		a.title {
			display: block;
			font-family: Arial, "Liberation sans", sans-serif;
			text-align: center;
			font-size: 3rem;
			font-weight: 700;
			margin: 0;
			margin-bottom: 0.25rem;
			letter-spacing: 0.25rem;
		}

		nav {
			a {
				&:not(:last-child) {
					margin-right: 0.5rem;

					&:after {
						content: '|';
						margin-left: 0.5rem;
					}
				}
			}
		}
	}

	.content-block {
		padding: $global-element-padding;
		padding-top: 0;
		border: $global-element-border;
		margin-bottom: $global-element-margin;

		h1 {
			background-color: $background-color-header;
			border-top: 0;
			border-bottom: $global-element-border;
			margin: 0 -0.4rem $global-element-margin -0.4rem;
			padding: $global-element-padding;
			font-size: 1.25rem;
		}

		h2 {
			background-color: $background-color-header;
			border-top: $global-element-border;
			border-bottom: $global-element-border;
			margin: 0.8rem -0.4rem $global-element-margin -0.4rem;
			padding: 0.4rem;
			font-size: 1rem;
		}
	}
}


.webring-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin-bottom: 0.5rem;

		a.name {
			font-weight: bold;
		}

		.description {
			color: $font-color-lighter;
			font-size: 0.8rem;
		}
	}
}


.webring-list-navigation {
	margin-top: 1rem;

	a {
		&:not(:last-child) {
			margin-right: 0.5rem;

			&:after {
				content: '|';
				margin-left: 0.5rem;
			}
		}
	}
}


.controls {
	margin-top: 1rem;

	a {
		display: block;
	}
}


form {
	.error-message {
		color: rgb(100, 6, 6);
	}

	.form-field {
		margin-bottom: 1rem;

		.description {
			font-size: 0.8rem;
		}

		label {
			display: block;
			font-weight: bold;
		}

		textarea {
			resize: none;
			width: 100%;
			box-sizing: border-box;
		}
	}
	
	.form-buttons {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}


footer {
	border: $global-element-border;
	background-color: $background-color-header;
	margin-top: $global-element-margin;
	font-size: 0.8rem;
	text-align: center;
}


#webring-detail-site-list {
	margin: 0;

	li {
		margin-bottom: 0.6rem;

		.name {
			display: block;
			font-weight: bold;
		}

		.site-controls {
			margin-top: 0.2rem;
			display: block;

			button {
				margin-right: 0.2rem;
			}
		}
	}
}

textarea#example-code {
	margin-top: 1rem;
	resize: none;
	width: 100%;
	box-sizing: border-box;
}

#news {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin-bottom: 1rem;

		.title {
			font-weight: bold;
			font-size: 1.2rem;
		}

		.date {
			font-size: 0.8rem;
		}
	}
}

#news-update {
	.date {
		margin-bottom: 1rem;
	}
}

.donation-option {
	margin-bottom: 2rem;

	.logo {
		max-height: 1.25rem;
		margin-right: 0.5rem;
	}

	a {
		display: block;
	}
}

#faq {
	h2 {
		background: none;
		border: none;
		margin: 1.25rem 0;
		padding: 0;
		font-size: 1.25rem;
	}
}

button {
	background-color: $background-color-button;
	border: $global-element-border;
	border-radius: 0;
	font-size: 10pt;
	margin-right: 0.4rem;
	color: $font-color;
	padding: 2px 6px;
	cursor: pointer;

	&:hover {
		background-color: $background-color-button-hover;
		color: $font-color-hover;
	}

	&:disabled {
		background-color: hsl($hue, 8%, 60%);
		border: 1px solid hsl($hue, 8%, 32%);
		border-radius: 0;
		font-size: 10pt;
		margin-right: 0.4rem;
		color: hsl($hue, 8%, 30%);
		cursor: not-allowed;
	}
}
